main.container {
    height: 100vh;
    display: flex;
    background-image: url('../../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

main.container .title {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

main.container .title h1 {
    font-size: var(--text-6xl);
    color: var(--white);
}

main.container .shape {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: var(--white);
}

.form-container {
    width: 60%;
}

.form-container h2 {
    font-size: var(--text-3xl);
    margin-bottom: 18px;
}

.form {
    display: flex;
    flex-direction: column;
    /* gap: 18px; */
}

.form .form-label {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-weight: var(--font-medium);
}

.form-control {
    border: 1px solid var(--secondary);
    border-radius: var(--border-radius);
    padding: 6px 10px;
    font-size: var(--text-lg);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
    border-color: var(--primary);
    outline: 0;
    box-shadow: var(--shadow-primary);
}

.form .label-error {
    color: var(--danger);
    margin-bottom: 18px;
}

.form button {
    width: 180px;
    margin-top: 10px;
    padding: 6px;
    font-size: var(--text-md);
    font-weight: var(--font-semibold);
    color: var(--white);
    background-color: var(--primary);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: color .15s ease-in-out;
}

.form button:hover {
    color: var(--black);
}

.form-container p.create-account {
    margin-top: 18px;
}

.form-container p > a {
    color: var(--primary);
    font-weight: var(--font-medium);
}

.login-error {
    padding: 6px 10px;
    border-radius: var(--border-radius);
    background-color: var(--danger-light);
    color: var(--danger);
}