.svg{
    position: absolute;
    top: 256px;
}
main{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
}

.nombre{
    font-size: 22px;
    text-align: center;
    font-weight: 600;
}
.lista{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

.titulo-formulario{
    font-weight: 300;
    margin-bottom: 26px;
    text-align: center;
}

.grupo{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom:1rem ;
}

.grupo label{
    font-size: 20px;
    font-weight: 300;
    color: #6F7789;
}

.grupo input{
    width: 330px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #6F7789;
}

.grupo select{
    width: 330px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #6F7789;
}

.iconos{
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.icono{
    width: 134px;
    height: 112px;
    background-color: #D9D9D9;
    border-radius: 12px;
    align-items: center;
    justify-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}

.formulario button {
    width: 343px;
    height: 62px;
    margin-top: 10px;
    padding: 6px;
    font-size: var(--text-md);
    font-weight: var(--font-semibold);
    color: var(--white);
    background-color: var(--primary);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-01);
    cursor: pointer;
    transition: color .15s ease-in-out;
}

.formulario button:hover {
    color: var(--black);
}

.message-error{
    padding: 6px 10px;
    border-radius: var(--border-radius);
    color: var(--danger);
}